{% extends 'user/base2.html' %}
{% load static %}
{% block title %}
Issued Books Detail
{% endblock %}
{% block content %}
<!-- MENU SECTION END-->
<div class="content-wrapper">
    <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">Issued Books</h4>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Advanced Tables -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Issued Books
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Student ID</th>
                                    <th>Student Name</th>
                                    <th>Issued Book</th>
                                    <th>Issued Date</th>
                                    <th>Return Date</th>
                                    <th>Fine (if any)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for element in issued_books %}
                                <tr class="odd gradeX">
                                    <td class="center">{{element.id}}</td>
                                    <td class="center">{{element.student.student_id}}</td>
                                    <td class="center">{{element.student.full_name}}</td>
                                    <td class="center">{{element.books.name}}</td>
                                    <td class="center">{{element.issue_date}}</td>
                                    <td class="center">{{element.return_date}}</td>
                                    <td class="center">{{element.fine}}</td>

                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!--End Advanced Tables -->
            </div>
        </div>


    </div>
</div>
<script src="{% static 'backend/assets/js/dataTables/jquery.dataTables.js' %}"></script>
<script src="{% static 'backend/assets/js/dataTables/dataTables.bootstrap.js' %}"></script>
<!-- CUSTOM SCRIPTS  -->
<script src="{% static 'backend/assets/js/custom.js' %}"></script>

{% endblock %}